body{
    margin: 0;
    font-family: arial;
    background-color: #82998b;
}

img{
    margin-right: 50px;
}

h1{
    background: #1a9701;
    margin-top: 0;
    color: white;
    padding: 20px;
    margin-bottom: 0px;
    border-bottom: 1px solid #004203;
    text-align: center;
    font-size: 60px;
}

#links{
    border-bottom: 1px solid #004203;
    background-color: #547c4b;
    margin-top: 0px;
    text-align: center;
}

h2{
    font-size: 20px;
    display: inline-flex;
    text-align: center;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 20px;
    padding-bottom: 10px;
}

p{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3px;
    font-size: 12px;
}

table {
    margin-left: 10px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-top: 50px;
    width: 500px;
    height: 500px;
}

table thead tr td{
    padding: 4px;
    background-color: #00740a;
    font-size: 60px;
    font-weight: 700;
}

table{
    border: 3px solid black;
    text-align: center;
}

table td{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

table tbody tr td {
    padding: 10px;
    
}

table tr td:last-child{
    border-right: none;
}

table tbody tr:first-child td {
    background-color: #5a8a4e;
    font-weight: 800;
}

table tbody{
    background-color: #ffffff;
} 

#table{
    float:left;

}

#janeiro{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 125px;

}

#fevereiro{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 215px;
}

#março{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 200px;
}

#abril{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 200px;
}

#maio{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 200px;
}

#junho{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 210px;
}

#julho{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 210px;
}

#agosto{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 190px;
}

#setembro{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 210px;
}

#outubro{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 200px;
}

#novembro{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 210px;
}

#dezembro{
    height: 450px;
    width: 850px;
    margin-left: 515px;
    margin-top: 190px;
}

.feriado{
    background-color: #851c1c;
}

.retorno{
    background-color: #0f4d0f;
}

.exames{
    background-color: #69691e;
}

.recuperação{
    background-color: #2f6666;
}

.feriado1{
    background-color: #851c1c;
    border-radius: 10px;
    padding: 5px;
}

.recuperação1{
    background-color: #2f6666;
    border-radius: 10px;
    padding: 5px
}

.exames1{
    background-color: #69691e;
    border-radius: 10px;
    padding: 5px
}

.retorno1{
    background-color: #0f4d0f;
    border-radius: 10px;
    padding: 5px
}
