body {
    background-image: url(https://th.bing.com/th/id/R.b9c245c16f3bc59e7ab0584961f4f3e6?rik=rgm9ArGKMjvX6g&pid=ImgRaw&r=0);
    float: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
    color: white;
}

.agent-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.agent-card {   
    text-align: center;
}

.agent-card img {
    max-width: 40%;
    margin-top: -50px;
}

button {
    background-color: red;
    color: white;
    justify-content: center;
    height: 75px;
    width: 175px;
    font-size: 25px;
    margin-top: -10px;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 40px;
    font-size: 40px;
    width: 350px;
    height: 50px;
    border-color: black solid;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

#arma img{
    margin: 25px;
}

#arma p{
    margin: 25px;
    font-size: 40px;
    
}
